/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jul 26, 2025, 1:20:15 AM
    Author     : ART3M1S
*/

.header{
    -fx-background-color: linear-gradient(to bottom right, #098c53, #246861);
    -fx-border-color: #fff;
    -fx-border-width: 0 0 .8px 0;
}

.nav-form{
    -fx-background-color: linear-gradient(to bottom right, #ffffff, #38b6ff);
}

.nav-btn{
    -fx-background-color: transparent;
    -fx-border-color: #fff;
    -fx-border-width: 2px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-font-size: 14px;
}
.nav-btn:hover{
    -fx-background-color: #fff;
    -fx-text-fill: #000;
}

.logout{
    -fx-background-color: #106abf;
    -fx-padding: 5px;
    -fx-cursor: hand;
    -fx-background-radius: 50px;
}
.logout:hover{
    -fx-background-color: #a71931;
}

.shadow{
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.5), 5,0,0,0);
}

.white-bg{
    -fx-background-color: #fff;
}

.radius{
    -fx-background-radius: 8px;
}

.transparent{
    -fx-background-color: transparent;
}

.table-view{
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-border-color: linear-gradient(to bottom, #ffffff, #38b6ff);
    -fx-border-radius: 5px;
    -fx-border-width: 1.5px;
}
.table-view .column-header-background{
    -fx-background-color: linear-gradient(to bottom, #ffffff, #38b6ff);
    -fx-background-radius: 5px 5px 0 0;
    -fx-background-insets: 0 0 0 0;
    -fx-font-size: 13px;
}
.table-view .column-header, .filter{
    -fx-background-color: transparent;
    -fx-size: 40px;
}
.table-view .column-header .label{
    -fx-text-fill: #fff;
}

.btn{
    -fx-background-color: linear-gradient(to bottom right, #38b6ff, #ffffff); 
    -fx-cursor: hand;
    -fx-text-fill: #111;
    -fx-font-size: 14px;
}
.btn:hover{
    -fx-background-color: linear-gradient(to bottom right, #1111, #0000); 
}